Mongoid Many to Many Issue

<%= form_for SharedCalendar.new do |f| %>
  <%= f.text_field :name, placeholder: 'Enter a name' %>
  <%= f.submit %>
<% end %>


<% if @shared_calendar %>
  <p>shared_calendar_ids of the user: <b><%= User.first.shared_calendar_ids %></b></p>
  </p>user_ids of the shared calendar: <b><%= @shared_calendar.user_ids %></b></p>
<% end %>
